<a href="https://colab.research.google.com/github/ayushicodes777-rgb/UIDAI-Dataset-Exploration/blob/main/01_enrolment_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
import zipfile

print("Enrolment exploration notebook ready")

Enrolment exploration notebook ready

In [ ]:
# List current files
os.listdir()

['.config',
 '.ipynb_checkpoints',
 'enrolment_data',
 'api_data_aadhar_enrolment.zip',
 'sample_data']

In [ ]:
with zipfile.ZipFile("api_data_aadhar_enrolment.zip", "r") as z:
    z.extractall("enrolment_data")

print("Enrolment data unzipped")

Enrolment data unzipped

In [ ]:
os.listdir("enrolment_data")

['api_data_aadhar_enrolment']

In [ ]:
os.listdir("enrolment_data/api_data_aadhar_enrolment")

['api_data_aadhar_enrolment_1000000_1006029.csv',
 'api_data_aadhar_enrolment_0_500000.csv',
 'api_data_aadhar_enrolment_500000_1000000.csv']

In [ ]:
csv_files = os.listdir("enrolment_data/api_data_aadhar_enrolment")

df_list = []

for file in csv_files:
    df = pd.read_csv(
        f"enrolment_data/api_data_aadhar_enrolment/{file}"
    )
    df_list.append(df)

df_enrol_all = pd.concat(df_list, ignore_index=True)

print("Combined enrolment data created")

Combined enrolment data created

In [ ]:
df_enrol_all.shape

(1006029, 7)

In [ ]:
df_enrol_all.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [ ]:
[col for col in df_enrol_all.columns if "date" in col.lower() or "month" in col.lower()]

['date']

In [ ]:
df_enrol_all["date"].head()

0    31-12-2025
1    31-12-2025
2    31-12-2025
3    31-12-2025
4    31-12-2025
Name: date, dtype: object

In [ ]:
df_enrol_all["date"].dtype

dtype('O')

In [ ]:
df_enrol_all["date"].nunique()

92

In [ ]:
df_enrol_all["date"].min(), df_enrol_all["date"].max()

('01-04-2025', '31-12-2025')

In [ ]:
df_enrol_all.isna().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [ ]:
states = sorted(df_enrol_all["state"].unique())
len(states), states

(55,
 ['100000',
  'Andaman & Nicobar Islands',
  'Andaman and Nicobar Islands',
  'Andhra Pradesh',
  'Arunachal Pradesh',
  'Assam',
  'Bihar',
  'Chandigarh',
  'Chhattisgarh',
  'Dadra & Nagar Haveli',
  'Dadra and Nagar Haveli',
  'Dadra and Nagar Haveli and Daman and Diu',
  'Daman & Diu',
  'Daman and Diu',
  'Delhi',
  'Goa',
  'Gujarat',
  'Haryana',
  'Himachal Pradesh',
  'Jammu & Kashmir',
  'Jammu And Kashmir',
  'Jammu and Kashmir',
  'Jharkhand',
  'Karnataka',
  'Kerala',
  'Ladakh',
  'Lakshadweep',
  'Madhya Pradesh',
  'Maharashtra',
  'Manipur',
  'Meghalaya',
  'Mizoram',
  'Nagaland',
  'ODISHA',
  'Odisha',
  'Orissa',
  'Pondicherry',
  'Puducherry',
  'Punjab',
  'Rajasthan',
  'Sikkim',
  'Tamil Nadu',
  'Telangana',
  'The Dadra And Nagar Haveli And Daman And Diu',
  'Tripura',
  'Uttar Pradesh',
  'Uttarakhand',
  'WEST BENGAL',
  'WESTBENGAL',
  'West  Bengal',
  'West Bangal',
  'West Bengal',
  'West bengal',
  'Westbengal',
  'andhra pradesh'])

In [ ]:
state_date_counts = (
    df_enrol_all
    .groupby("state")["date"]
    .nunique()
    .sort_values()
)

state_date_counts

state
Jammu And Kashmir                                1
ODISHA                                           1
WESTBENGAL                                       1
The Dadra And Nagar Haveli And Daman And Diu     2
WEST BENGAL                                      4
andhra pradesh                                   5
Westbengal                                       6
West bengal                                      7
West Bangal                                      9
West  Bengal                                    15
Daman & Diu                                     17
100000                                          21
Dadra & Nagar Haveli                            24
Andaman & Nicobar Islands                       50
Daman and Diu                                   55
Dadra and Nagar Haveli and Daman and Diu        56
Lakshadweep                                     61
Jammu & Kashmir                                 61
Andaman and Nicobar Islands                     65
Ladakh                                          68
Dadra and Nagar Haveli                          71
Pondicherry                                     72
Sikkim                                          75
Puducherry                                      75
Orissa                                          75
Chandigarh                                      76
Goa                                             76
Arunachal Pradesh                               78
Himachal Pradesh                                79
Manipur                                         81
Jammu and Kashmir                               81
Mizoram                                         81
Odisha                                          81
Kerala                                          82
Tripura                                         82
Andhra Pradesh                                  82
Nagaland                                        83
Haryana                                         83
Jharkhand                                       83
Telangana                                       83
Chhattisgarh                                    84
Rajasthan                                       84
Tamil Nadu                                      84
Uttarakhand                                     84
West Bengal                                     84
Assam                                           85
Delhi                                           85
Karnataka                                       85
Gujarat                                         85
Punjab                                          85
Madhya Pradesh                                  87
Maharashtra                                     87
Uttar Pradesh                                   88
Bihar                                           88
Meghalaya                                       90
Name: date, dtype: int64

In [ ]:
state_date_counts.describe()

count    55.000000
mean     61.690909
std      31.168522
min       1.000000
25%      52.500000
50%      78.000000
75%      84.000000
max      90.000000
Name: date, dtype: float64

In [ ]:
ne_states = [
    "Arunachal Pradesh",
    "Assam",
    "Manipur",
    "Meghalaya",
    "Mizoram",
    "Nagaland",
    "Sikkim",
    "Tripura"
]

present_ne_states = [s for s in ne_states if s in states]
missing_ne_states = [s for s in ne_states if s not in states]

present_ne_states, missing_ne_states

(['Arunachal Pradesh',
  'Assam',
  'Manipur',
  'Meghalaya',
  'Mizoram',
  'Nagaland',
  'Sikkim',
  'Tripura'],
 [])

In [ ]:
df_enrol_clean = df_enrol_all.copy()

In [ ]:
df_enrol_clean["state"] = (
    df_enrol_clean["state"]
    .astype(str)
    .str.strip()
    .str.title()
)

In [ ]:
state_name_map = {
    "Orissa": "Odisha",
    "Jammu & Kashmir": "Jammu And Kashmir",
    "Jammu And Kashmir": "Jammu And Kashmir",
    "Andaman & Nicobar Islands": "Andaman And Nicobar Islands",
    "Daman & Diu": "Daman And Diu",
    "Dadra & Nagar Haveli": "Dadra And Nagar Haveli",
    "Dadra And Nagar Haveli And Daman And Diu": "Dadra And Nagar Haveli And Daman And Diu",
    "Pondicherry": "Puducherry"
}

df_enrol_clean["state"] = df_enrol_clean["state"].replace(state_name_map)

In [ ]:
states_clean = sorted(df_enrol_clean["state"].unique())
len(states_clean), states_clean

(43,
 ['100000',
  'Andaman And Nicobar Islands',
  'Andhra Pradesh',
  'Arunachal Pradesh',
  'Assam',
  'Bihar',
  'Chandigarh',
  'Chhattisgarh',
  'Dadra And Nagar Haveli',
  'Dadra And Nagar Haveli And Daman And Diu',
  'Daman And Diu',
  'Delhi',
  'Goa',
  'Gujarat',
  'Haryana',
  'Himachal Pradesh',
  'Jammu And Kashmir',
  'Jharkhand',
  'Karnataka',
  'Kerala',
  'Ladakh',
  'Lakshadweep',
  'Madhya Pradesh',
  'Maharashtra',
  'Manipur',
  'Meghalaya',
  'Mizoram',
  'Nagaland',
  'Odisha',
  'Puducherry',
  'Punjab',
  'Rajasthan',
  'Sikkim',
  'Tamil Nadu',
  'Telangana',
  'The Dadra And Nagar Haveli And Daman And Diu',
  'Tripura',
  'Uttar Pradesh',
  'Uttarakhand',
  'West  Bengal',
  'West Bangal',
  'West Bengal',
  'Westbengal'])

In [ ]:
ne_states = [
    "Arunachal Pradesh",
    "Assam",
    "Manipur",
    "Meghalaya",
    "Mizoram",
    "Nagaland",
    "Sikkim",
    "Tripura"
]

present_ne = [s for s in ne_states if s in states_clean]
missing_ne = [s for s in ne_states if s not in states_clean]

present_ne, missing_ne

(['Arunachal Pradesh',
  'Assam',
  'Manipur',
  'Meghalaya',
  'Mizoram',
  'Nagaland',
  'Sikkim',
  'Tripura'],
 [])

In [ ]:
for s in sorted(df_enrol_clean["state"].unique()):
    print(repr(s))

'100000'
'Andaman And Nicobar Islands'
'Andhra Pradesh'
'Arunachal Pradesh'
'Assam'
'Bihar'
'Chandigarh'
'Chhattisgarh'
'Dadra And Nagar Haveli'
'Dadra And Nagar Haveli And Daman And Diu'
'Daman And Diu'
'Delhi'
'Goa'
'Gujarat'
'Haryana'
'Himachal Pradesh'
'Jammu And Kashmir'
'Jharkhand'
'Karnataka'
'Kerala'
'Ladakh'
'Lakshadweep'
'Madhya Pradesh'
'Maharashtra'
'Manipur'
'Meghalaya'
'Mizoram'
'Nagaland'
'Odisha'
'Puducherry'
'Punjab'
'Rajasthan'
'Sikkim'
'Tamil Nadu'
'Telangana'
'The Dadra And Nagar Haveli And Daman And Diu'
'Tripura'
'Uttar Pradesh'
'Uttarakhand'
'West  Bengal'
'West Bangal'
'West Bengal'
'Westbengal'

In [ ]:
df_enrol_clean = df_enrol_all.copy()

df_enrol_clean = df_enrol_clean[
    df_enrol_clean["state"].str.contains(r"[A-Za-z]", na=False)
]

In [ ]:
df_enrol_clean["state"] = (
    df_enrol_clean["state"]
    .str.strip()
    .str.replace(r"\s+", " ", regex=True)
    .str.title()
)

In [ ]:
state_replacements = {
    "West Bangal": "West Bengal",
    "Westbengal": "West Bengal",
    "West  Bengal": "West Bengal",
}
df_enrol_clean["state"] = df_enrol_clean["state"].replace(state_replacements)

In [ ]:
df_enrol_clean["state"] = df_enrol_clean["state"].replace({
    "Dadra And Nagar Haveli": "Dadra And Nagar Haveli And Daman And Diu",
    "Daman And Diu": "Dadra And Nagar Haveli And Daman And Diu",
    "The Dadra And Nagar Haveli And Daman And Diu":
        "Dadra And Nagar Haveli And Daman And Diu"
})

In [ ]:
states = sorted(df_enrol_clean["state"].unique())
len(states), states

(42,
 ['Andaman & Nicobar Islands',
  'Andaman And Nicobar Islands',
  'Andhra Pradesh',
  'Arunachal Pradesh',
  'Assam',
  'Bihar',
  'Chandigarh',
  'Chhattisgarh',
  'Dadra & Nagar Haveli',
  'Dadra And Nagar Haveli And Daman And Diu',
  'Daman & Diu',
  'Delhi',
  'Goa',
  'Gujarat',
  'Haryana',
  'Himachal Pradesh',
  'Jammu & Kashmir',
  'Jammu And Kashmir',
  'Jharkhand',
  'Karnataka',
  'Kerala',
  'Ladakh',
  'Lakshadweep',
  'Madhya Pradesh',
  'Maharashtra',
  'Manipur',
  'Meghalaya',
  'Mizoram',
  'Nagaland',
  'Odisha',
  'Orissa',
  'Pondicherry',
  'Puducherry',
  'Punjab',
  'Rajasthan',
  'Sikkim',
  'Tamil Nadu',
  'Telangana',
  'Tripura',
  'Uttar Pradesh',
  'Uttarakhand',
  'West Bengal'])

In [ ]:
df_enrol_clean["state"] = (
    df_enrol_clean["state"]
    .str.replace("&", "And")
    .str.replace(r"\s+", " ", regex=True)
    .str.strip()
    .str.title()
)

In [ ]:
final_state_map = {
    "Andaman And Nicobar Islands": "Andaman And Nicobar Islands",
    "Jammu And Kashmir": "Jammu And Kashmir",
    "Orissa": "Odisha",
    "Pondicherry": "Puducherry",

    # Dadraâ€“Daman merger
    "Dadra And Nagar Haveli": "Dadra And Nagar Haveli And Daman And Diu",
    "Daman And Diu": "Dadra And Nagar Haveli And Daman And Diu",
    "Dadra And Nagar Haveli And Daman And Diu":
        "Dadra And Nagar Haveli And Daman And Diu"
}

df_enrol_clean["state"] = df_enrol_clean["state"].replace(final_state_map)

In [ ]:
states = sorted(df_enrol_clean["state"].unique())
len(states), states

(36,
 ['Andaman And Nicobar Islands',
  'Andhra Pradesh',
  'Arunachal Pradesh',
  'Assam',
  'Bihar',
  'Chandigarh',
  'Chhattisgarh',
  'Dadra And Nagar Haveli And Daman And Diu',
  'Delhi',
  'Goa',
  'Gujarat',
  'Haryana',
  'Himachal Pradesh',
  'Jammu And Kashmir',
  'Jharkhand',
  'Karnataka',
  'Kerala',
  'Ladakh',
  'Lakshadweep',
  'Madhya Pradesh',
  'Maharashtra',
  'Manipur',
  'Meghalaya',
  'Mizoram',
  'Nagaland',
  'Odisha',
  'Puducherry',
  'Punjab',
  'Rajasthan',
  'Sikkim',
  'Tamil Nadu',
  'Telangana',
  'Tripura',
  'Uttar Pradesh',
  'Uttarakhand',
  'West Bengal'])

In [ ]:
states_present = sorted(df_enrol_clean["state"].unique())

present_ne = [s for s in ne_states if s in states_present]
missing_ne = [s for s in ne_states if s not in states_present]

present_ne, missing_ne

(['Arunachal Pradesh',
  'Assam',
  'Manipur',
  'Meghalaya',
  'Mizoram',
  'Nagaland',
  'Sikkim',
  'Tripura'],
 [])

In [ ]:
df_enrol_clean[df_enrol_clean["state"].isin(ne_states)] \
    .groupby("state") \
    .size() \
    .sort_values()

state
Sikkim                1010
Mizoram               1481
Arunachal Pradesh     1601
Nagaland              1999
Manipur               3218
Tripura               3729
Meghalaya             3771
Assam                31827
dtype: int64

In [ ]:
df_enrol_clean[df_enrol_clean["state"].isin(ne_states)] \
    .groupby("state")["date"] \
    .nunique() \
    .sort_values()

state
Sikkim               75
Arunachal Pradesh    78
Mizoram              81
Manipur              81
Tripura              82
Nagaland             83
Assam                85
Meghalaya            90
Name: date, dtype: int64

In [ ]:
import pandas as pd
import numpy as np

# Ensure date is datetime
df_enrol_clean["date"] = pd.to_datetime(df_enrol_clean["date"], dayfirst=True)

# Total enrolment per row
df_enrol_clean["total_enrolment"] = (
    df_enrol_clean["age_0_5"]
    + df_enrol_clean["age_5_17"]
    + df_enrol_clean["age_18_greater"]
)

# Age shares (proportions)
df_enrol_clean["share_0_5"] = df_enrol_clean["age_0_5"] / df_enrol_clean["total_enrolment"]
df_enrol_clean["share_5_17"] = df_enrol_clean["age_5_17"] / df_enrol_clean["total_enrolment"]
df_enrol_clean["share_18_plus"] = df_enrol_clean["age_18_greater"] / df_enrol_clean["total_enrolment"]

In [ ]:
ne_states = [
    "Arunachal Pradesh",
    "Assam",
    "Manipur",
    "Meghalaya",
    "Mizoram",
    "Nagaland",
    "Sikkim",
    "Tripura"
]

In [ ]:
df_enrol_clean["region"] = np.where(
    df_enrol_clean["state"].isin(ne_states),
    "NE",
    "Mainland"
)

In [ ]:
df_enrol_clean[["state", "region"]].drop_duplicates().head(15)

               state    region
0          Karnataka  Mainland
197           Kerala  Mainland
388           Ladakh  Mainland
389      Lakshadweep  Mainland
390   Madhya Pradesh  Mainland
566      Maharashtra  Mainland
816          Manipur        NE
828        Meghalaya        NE
840          Mizoram        NE
844         Nagaland        NE
851           Odisha  Mainland
1026      Puducherry  Mainland
1031          Punjab  Mainland
1080       Rajasthan  Mainland
1278          Sikkim        NE

In [ ]:
state_date = (
    df_enrol_clean
    .groupby(["state", "region", "date"], as_index=False)
    .agg(
        total_enrolment=("total_enrolment", "sum"),
        avg_share_0_5=("share_0_5", "mean"),
        avg_share_5_17=("share_5_17", "mean"),
        avg_share_18_plus=("share_18_plus", "mean"),
    )
)

state_date.head()

,state,region,date,total_enrolment,avg_share_0_5,avg_share_5_17,avg_share_18_plus
0,Andaman And Nicobar Islands,Mainland,2025-09-01,27,0.921212,0.078788,0.0
1,Andaman And Nicobar Islands,Mainland,2025-09-02,10,0.964286,0.035714,0.0
2,Andaman And Nicobar Islands,Mainland,2025-09-03,12,0.937500,0.062500,0.0
3,Andaman And Nicobar Islands,Mainland,2025-09-04,17,0.923077,0.076923,0.0
4,Andaman And Nicobar Islands,Mainland,2025-09-05,5,1.000000,0.000000,0.0

In [ ]:
df_enrol_clean["state"].value_counts().head(20)

state
Uttar Pradesh        110369
Tamil Nadu            92552
Maharashtra           77191
West Bengal           76561
Karnataka             70198
Andhra Pradesh        65663
Bihar                 60567
Rajasthan             56159
Madhya Pradesh        50225
Odisha                47011
Gujarat               46624
Telangana             42774
Kerala                39145
Assam                 31827
Jharkhand             23218
Punjab                20439
Chhattisgarh          18550
Haryana               15997
Jammu And Kashmir     11455
Himachal Pradesh      10346
Name: count, dtype: int64

In [ ]:
df_enrol_clean["region"].value_counts()

region
Mainland    957371
NE           48636
Name: count, dtype: int64

In [ ]:
df_enrol_clean.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater', 'total_enrolment', 'share_0_5', 'share_5_17',
       'share_18_plus', 'region'],
      dtype='object')

In [ ]:
import pandas as pd
import numpy as np

df_enrol_clean.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,total_enrolment,share_0_5,share_5_17,share_18_plus,region
0,2025-12-31,Karnataka,Bidar,585330,2,3,0,5,0.400000,0.600000,0.0,Mainland
1,2025-12-31,Karnataka,Bidar,585402,6,0,0,6,1.000000,0.000000,0.0,Mainland
2,2025-12-31,Karnataka,Bidar,585413,1,0,0,1,1.000000,0.000000,0.0,Mainland
3,2025-12-31,Karnataka,Bidar,585418,1,2,0,3,0.333333,0.666667,0.0,Mainland
4,2025-12-31,Karnataka,Bidar,585421,4,3,0,7,0.571429,0.428571,0.0,Mainland

In [ ]:
state_date = (
    df_enrol_clean
    .groupby(["state", "region", "date"], as_index=False)
    .agg(
        daily_enrolment=("total_enrolment", "sum"),
        share_0_5=("share_0_5", "mean"),
        share_5_17=("share_5_17", "mean"),
        share_18_plus=("share_18_plus", "mean")
    )
)

state_date.head()

,state,region,date,daily_enrolment,share_0_5,share_5_17,share_18_plus
0,Andaman And Nicobar Islands,Mainland,2025-09-01,27,0.921212,0.078788,0.0
1,Andaman And Nicobar Islands,Mainland,2025-09-02,10,0.964286,0.035714,0.0
2,Andaman And Nicobar Islands,Mainland,2025-09-03,12,0.937500,0.062500,0.0
3,Andaman And Nicobar Islands,Mainland,2025-09-04,17,0.923077,0.076923,0.0
4,Andaman And Nicobar Islands,Mainland,2025-09-05,5,1.000000,0.000000,0.0

In [ ]:
state_metrics = (
    state_date
    .groupby(["state", "region"], as_index=False)
    .agg(
        avg_daily_enrolment=("daily_enrolment", "mean"),
        volatility=("daily_enrolment", "std"),
        coverage_days=("date", "nunique"),
        share_0_5=("share_0_5", "mean"),
        share_5_17=("share_5_17", "mean"),
        share_18_plus=("share_18_plus", "mean")
    )
)

state_metrics.head()

,state,region,avg_daily_enrolment,volatility,coverage_days,share_0_5,share_5_17,share_18_plus
0,Andaman And Nicobar Islands,Mainland,7.514706,5.309784,68,0.947466,0.052534,0.000000
1,Andhra Pradesh,Mainland,1557.146341,971.260364,82,0.856234,0.113337,0.030429
2,Arunachal Pradesh,NE,55.692308,57.794375,78,0.525735,0.459194,0.015071
3,Assam,NE,2708.200000,5873.763770,85,0.626610,0.299236,0.074154
4,Bihar,Mainland,6927.102273,8898.051608,88,0.418402,0.546964,0.034634

In [ ]:
ne_states_metrics = state_metrics[state_metrics["region"] == "NE"]

ne_reference = ne_states_metrics.describe()
ne_reference

,avg_daily_enrolment,volatility,coverage_days,share_0_5,share_5_17,share_18_plus
count,8.000000,8.000000,8.00000,8.000000,8.000000,8.000000
mean,572.212229,1448.679657,81.87500,0.509343,0.416149,0.074508
std,948.206600,2362.817868,4.48609,0.161742,0.127989,0.080134
min,29.426667,52.548349,75.00000,0.265594,0.209298,0.015071
25%,68.793447,98.535077,80.25000,0.406135,0.317685,0.029557
50%,151.872704,163.597384,81.50000,0.520742,0.450433,0.048978
75%,445.765830,1586.129847,83.50000,0.631744,0.487303,0.077207
max,2708.200000,5873.763770,90.00000,0.735324,0.588027,0.263764

In [ ]:
metrics_cols = [
    "avg_daily_enrolment",
    "volatility",
    "share_0_5",
    "share_5_17",
    "share_18_plus"
]

ne_centroid = ne_states_metrics[metrics_cols].mean()

mainland_states = state_metrics[state_metrics["region"] == "Mainland"].copy()

mainland_states["ne_similarity_score"] = mainland_states[metrics_cols].apply(
    lambda row: np.linalg.norm(row.values - ne_centroid.values),
    axis=1
)

mainland_states.sort_values("ne_similarity_score").head(10)

,state,region,avg_daily_enrolment,volatility,coverage_days,share_0_5,share_5_17,share_18_plus,ne_similarity_score
27,Punjab,Mainland,902.894118,1164.095316,85,0.810531,0.149590,0.039879,436.278490
11,Haryana,Mainland,1183.759036,1236.096626,83,0.909308,0.080418,0.010274,647.442136
6,Chhattisgarh,Mainland,1228.797619,1060.014262,84,0.807039,0.169805,0.023157,762.997585
16,Kerala,Mainland,914.658537,714.518645,82,0.694751,0.261095,0.044154,810.099947
8,Delhi,Mainland,1112.105882,2275.722837,85,0.740415,0.220637,0.038948,987.666781
13,Jammu And Kashmir,Mainland,598.731707,454.031463,82,0.814277,0.171867,0.013856,995.001744
31,Telangana,Mainland,1585.228916,1245.927956,83,0.805095,0.181127,0.013778,1033.107548
25,Odisha,Mainland,1518.358025,992.195663,81,0.793537,0.190419,0.016044,1050.509228
1,Andhra Pradesh,Mainland,1557.146341,971.260364,82,0.856234,0.113337,0.030429,1094.543101
34,Uttarakhand,Mainland,448.785714,358.727607,84,0.847004,0.136883,0.016112,1096.918307

In [ ]:
mainland_median = mainland_states["avg_daily_enrolment"].median()

ne_outperformers = ne_states_metrics[
    ne_states_metrics["avg_daily_enrolment"] > mainland_median
]

ne_outperformers

,state,region,avg_daily_enrolment,volatility,coverage_days,share_0_5,share_5_17,share_18_plus
3,Assam,NE,2708.200000,5873.763770,85,0.626610,0.299236,0.074154
22,Meghalaya,NE,1219.677778,4576.771331,90,0.265594,0.470642,0.263764

In [ ]:
ne_states_metrics.sort_values("volatility").head()

,state,region,avg_daily_enrolment,volatility,coverage_days,share_0_5,share_5_17,share_18_plus
29,Sikkim,NE,29.426667,52.548349,75,0.515749,0.441672,0.042579
2,Arunachal Pradesh,NE,55.692308,57.794375,78,0.525735,0.459194,0.015071
32,Tripura,NE,137.621951,112.115311,82,0.647145,0.323834,0.029020
23,Mizoram,NE,73.160494,129.036473,81,0.735324,0.209298,0.055378
21,Manipur,NE,166.123457,198.158294,81,0.432977,0.537287,0.029736

In [ ]:
ne_volatility_upper = ne_states_metrics["volatility"].quantile(0.75)

volatile_mainland = mainland_states[
    mainland_states["volatility"] > ne_volatility_upper
].sort_values("volatility", ascending=False)

volatile_mainland.head()

,state,region,avg_daily_enrolment,volatility,coverage_days,share_0_5,share_5_17,share_18_plus,ne_similarity_score
33,Uttar Pradesh,Mainland,11575.329545,18516.257624,88,0.504500,0.472864,0.022636,20306.915284
4,Bihar,Mainland,6927.102273,8898.051608,88,0.418402,0.546964,0.034634,9791.719458
19,Madhya Pradesh,Mainland,5677.816092,7436.625547,87,0.767078,0.204109,0.028813,7869.096955
10,Gujarat,Mainland,3300.576471,7246.266703,85,0.748744,0.196477,0.054779,6407.494603
20,Maharashtra,Mainland,4242.977011,6124.267782,87,0.765085,0.202240,0.032676,5944.378732

In [ ]:
district_date = (
    df_enrol_clean
    .groupby(["state", "district", "date"], as_index=False)
    .agg(
        daily_enrolment=("total_enrolment", "sum")
    )
)

district_date.head()

                         state  district       date  daily_enrolment
0  Andaman And Nicobar Islands  Andamans 2025-09-01                2
1  Andaman And Nicobar Islands  Andamans 2025-09-02                1
2  Andaman And Nicobar Islands  Andamans 2025-09-04                3
3  Andaman And Nicobar Islands  Andamans 2025-09-09                2
4  Andaman And Nicobar Islands  Andamans 2025-09-11                1

In [ ]:
district_metrics = (
    district_date
    .groupby(["state", "district"], as_index=False)
    .agg(
        avg_daily_enrolment=("daily_enrolment", "mean"),
        volatility=("daily_enrolment", "std"),
        coverage_days=("date", "nunique")
    )
)

district_metrics.head()

,state,district,avg_daily_enrolment,volatility,coverage_days
0,Andaman And Nicobar Islands,Andamans,1.829268,0.863204,41
1,Andaman And Nicobar Islands,Nicobar,2.419355,2.156760,31
2,Andaman And Nicobar Islands,Nicobars,1.000000,NaN,1
3,Andaman And Nicobar Islands,North And Middle Andaman,2.750000,1.816004,48
4,Andaman And Nicobar Islands,South Andaman,3.677419,2.533540,62

In [ ]:
district_metrics["district_rank"] = (
    district_metrics
    .groupby("state")["avg_daily_enrolment"]
    .rank(method="dense", ascending=False)
)

In [ ]:
high_districts = district_metrics[
    district_metrics["district_rank"] <=
    district_metrics.groupby("state")["district_rank"].transform("max") * 0.1
]

high_districts.head()

,state,district,avg_daily_enrolment,volatility,coverage_days,district_rank
18,Andhra Pradesh,Guntur,126.350649,85.249289,77,4.0
27,Andhra Pradesh,Kurnool,152.857143,96.443700,77,3.0
41,Andhra Pradesh,Spsr Nellore,727.666667,616.045723,3,1.0
46,Andhra Pradesh,Visakhapatanam,226.000000,NaN,1,2.0
55,Arunachal Pradesh,Changlang,11.152778,11.724129,72,2.0

In [ ]:
low_districts = district_metrics[
    district_metrics["district_rank"] >=
    district_metrics.groupby("state")["district_rank"].transform("max") * 0.9
]

low_districts.head()

,state,district,avg_daily_enrolment,volatility,coverage_days,district_rank
2,Andaman And Nicobar Islands,Nicobars,1.000000,NaN,1,5.0
12,Andhra Pradesh,Bapatla,6.929577,5.524811,71,43.0
20,Andhra Pradesh,K.V.Rangareddy,1.604651,0.760311,43,45.0
21,Andhra Pradesh,K.v. Rangareddy,1.357143,0.497245,14,46.0
23,Andhra Pradesh,Karim Nagar,2.000000,1.688194,41,44.0

In [ ]:
district_spread = (
    district_metrics
    .groupby("state")
    .agg(
        max_avg=("avg_daily_enrolment", "max"),
        min_avg=("avg_daily_enrolment", "min")
    )
    .assign(spread=lambda x: x["max_avg"] - x["min_avg"])
    .sort_values("spread", ascending=False)
)

district_spread.head(10)

                    max_avg   min_avg       spread
state
Karnataka       5768.500000  1.000000  5767.500000
West Bengal     3890.333333  1.000000  3889.333333
Bihar           3717.750000  1.333333  3716.416667
Uttar Pradesh   2170.500000  1.000000  2169.500000
Haryana         1506.000000  1.000000  1505.000000
Madhya Pradesh  1505.500000  2.512821  1502.987179
Jharkhand       1447.000000  1.000000  1446.000000
Andhra Pradesh   727.666667  1.000000   726.666667
Maharashtra      526.361446  1.000000   525.361446
Chhattisgarh     491.500000  1.315789   490.184211

In [ ]:
district_metrics.merge(
    state_metrics[["state", "region"]],
    on="state",
    how="left"
).groupby("region")["district_rank"].describe()

          count       mean        std  min   25%   50%   75%   max
region
Mainland  868.0  24.079493  17.555695  1.0  10.0  21.0  35.0  89.0
NE        137.0  11.525547   9.020467  1.0   5.0   9.0  16.0  38.0